* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  /* width: 100%; */
}

.wrapper {
  width: 580px;
  padding: 25px;
  margin-top: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.display {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid black;
  text-align: center;
}

.result-display {
  font-size: 28px;
  border: 1px solid green;
}

.number-input {
  border: 1px solid red;
}

.operation-input {
  border: 1px solid blue;
  
}

.result-display,
.number-input,
.operation-input {
  height: 50px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.digit{
  border: 1px solid black;
  width: 70%;
}

.operation {
  border: 1px solid black;
  width: 30%;
}

.digit,
.operation {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;

}

.operation-btn {
  width: 50%;
  height: 50px;
}

.number {
  width: 33%;
  height: 50px;
}

